*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
*.jks
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

# Keystore and Datastore files
*.jks
prefs.preferences_pb

# Firebase / Services (Sensitive)
**/google-services.json
**/GoogleService-Info.plist

/website
/docs